<ion-view view-title="IoT Home">
  <ion-content>
      <!--div class="card">
        <div class="item item-text-wrap" ng-repeat="room in rooms" href="#/app/devices/{{room.id}}">
          {{room.name}}
        </div>
      </div-->
      <ion-list>
        <ion-item ng-repeat="room in rooms" href="#/app/devices/{{room.id}}">
          {{room.name}}
        </ion-item>
      </ion-list>
      {{teste}}
  </ion-content>
    <!--ion-tabs class="tabs-icon-top tabs-color-active-positive">
           <ion-tab ng-repeat="oi in ois"  title="Playlist" icon-off="ion-ipod" icon-on="ion-ipod" href="#/app/playlists">
            <ion-nav-view name="menuContent"></ion-nav-view>
          </ion-tab>  

    </ion-tabs-->
</ion-view>
