<ion-view view-title="Playlists">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
  <!--div class="tabs tabs-icon-only">
    <a class="tab-item" ng-repeat="oi in ois">
      <i class="icon ion-home"></i>
    </a>
  </div-->
  
  
      
    
    <ion-tabs class="tabs-icon-top tabs-color-active-positive">
           <ion-tab ng-repeat="oi in ois"  title="Playlist" icon-off="ion-ipod" icon-on="ion-ipod" href="#/app/playlists">
            <ion-nav-view name="menuContent"></ion-nav-view>
          </ion-tab>  

    </ion-tabs>
  
</ion-view>
