<ion-view title="MQTT Setup">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="MQTT Host" ng-model="mqtt.host">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="MQTT Port" ng-model="mqtt.port">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="mqtt.username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password" ng-model="mqtt.password">
            </label>
            <ion-toggle ng-model="mqtt.ssl">
                    SSL     
            </ion-toggle>
            <button class="button button-block button-positive" ng-click="connect()">
                Connect
            </button>
        </div>
    </ion-content>
</ion-view>